{% load static %}
<div class="row" style="position: sticky;">
      <div class="col-md-2 bg-light sticky-top shadow-lg">
        <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
          <ul
            class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
            <li class="nav-item">
              <a href="#" class="nav-link py-3 px-2">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link py-3 px-2">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Attendance
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link py-3 px-2">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                Results
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link py-3 px-2">
                <i class="fa fa-book" aria-hidden="true"></i>
                Syllabus
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link py-3 px-2">
                <i class="fa fa-money" aria-hidden="true"></i>
                Fees
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link py-3 px-2">
                <i class="fa fa-ticket" aria-hidden="true"></i>
                Hall Ticket
              </a>
            </li>
          </ul>
        </div>
      </div>