{% extends 'base.html' %}
{% block content %}
          <div class="container py-5 p-sm-0">
            <div class="row mt-2">
              <div class="col-lg-4">
                <div class="card mb-4 shadow">
                  <div class="card-body text-center">
                    <img
                      src="../assets/default_profile.jpeg"
                      alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">{{ student.name }}</h5>
                    <p class="text-muted mb-1">22CEUOS000</p>
                    <p class="text-muted mb-4">Computer engineering</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="card mb-4 shadow">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">First Name</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">John</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Middle Name</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">Thomas</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Last Name</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">Smith</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Email address</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">abc@example.com</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Phone</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">1234567890</p>
                        <p class="text-muted mb-0">9876543210</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Address</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">house no, street name,</p>
                        <p class="text-muted mb-0">area, landmark</p>
                        <p class="text-muted mb-0">city, pincode</p>
                        <p class="text-muted mb-0">state, country</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card mb-4 mb-md-0 shadow">
                      <div class="card-body">
                        <p class="mb-4"><span class="text-primary me-1">Subjects</span>
                        </p>
                        <p class="mb-2" style="font-size: .90rem;">CourseId <span class="text-muted"> coursename</span>
                        </p>
                        <p class="mb-2" style="font-size: .90rem;">CourseId <span class="text-muted"> coursename</span>
                        </p>
                        <p class="mb-2" style="font-size: .90rem;">CourseId <span class="text-muted"> coursename</span>
                        </p>
                        <p class="mb-2" style="font-size: .90rem;">CourseId <span class="text-muted"> coursename</span>
                        </p>
                        <p class="mb-2" style="font-size: .90rem;">CourseId <span class="text-muted"> coursename</span>
                        </p>
                        <p class="mb-2" style="font-size: .90rem;">CourseId <span class="text-muted"> coursename</span>
                        </p>
                        <p class="mb-2" style="font-size: .90rem;">CourseId <span class="text-muted"> coursename</span>
                        </p>
                        <p class="mb-2" style="font-size: .90rem;">CourseId <span class="text-muted"> coursename</span>
                        </p>
                        <p class="mb-2" style="font-size: .90rem;">CourseId <span class="text-muted"> coursename</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card mb-4 mb-md-0 shadow">
                      <div class="card-body">
                        <p class="mb-4 text-primary ">SPI</p>
                        <p class="mb-2" style="font-size: .90rem;">sem:1 <span class="text-muted"> 10</span></p>
                        <p class="mb-2" style="font-size: .90rem;">sem:2 <span class="text-muted"> 10</span></p>
                        <p class="mb-2" style="font-size: .90rem;">sem:3 <span class="text-muted"> 10</span></p>
                        <p class="mb-2" style="font-size: .90rem;">sem:4 <span class="text-muted"> 10</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}