{% extends 'base.html' %}

{% block content %}

    <div class="shadow container mt-4">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center p-3">
                    <span class="font-weight-bold">Student ID: 22CEUOS000</span>
                    <span class="text-muted">John Thomas Smith</span>
                    <span class="text-muted">Roll No: 12345</span>
                    <span class="text-muted">Div.: A</span>
                    <span class="text-muted">Batch: A4</span>
                    <span class="text-muted">Course: Computer Engineering</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center p-3">
                    <form action="#">
                        <label class="font-weight-bold">Month and date:
                            <input type="month" class="font-weight-bold">
                        </label>
                        <br>
                        <br>
                        <label class="font-weight-bold">Total Days:
                            <input type="number" placeholder="Total Days">
                        </label>
                        <br>
                        <label class="font-weight-bold">Present Days:
                            <input type="number" placeholder="Present Days">
                        </label>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}